{% extends 'layout.html' %}




{% block content %}


<!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{post.title}}</h1>

        <!-- datetime -->
        <p class="lead">
          {{post.created_on}}
        </p>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="{{post.thumb.url}}" alt="">

        <hr>
     
        <!-- Post Content -->
      <p class="lead">{{post.content|safe}}</p>

<!-- Comments Form -->
    
        <div class="card my-4">
          <h5 class="card-header">Yorum Bırak </h5>
            <hr>
         
          <div class="card-body">
            <form method="post" action="{% url 'post:postdetail' post.slug %}">   
              {% csrf_token %}

              <div class="form-group">
                <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi girin" >
                <br>
                <textarea name ="comment_content" class="form-control" rows="3" ></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Yorum Ekle</button>
            </form>
          </div>
        </div>
   

        <!-- Single Comment -->
        <h4>Yorumlar {% if comments %}({{comments.count }}){% endif %}</h4>
        <hr>
        {% if comments %}
        {% for comment in comments  %}

        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{comment.comment_author}}</h5>
            {{comment.comment_date}}<br>
            {{comment.comment_content}}
          </div>
        </div>
       
       {% endfor %}
       {% endif %}

       
        </div>

      </div>
 </div>

{% endblock content %}
